/*Colores y fuentes GLOBALES*/

body {
  font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #333;
}

/*Estilo para CONTENEDORES principales*/

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}